.Container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.Back {
    align-self: center;
}

.Back:hover {
    background-color: #590d22;
    border-radius: 8px;
}

.Logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .25em;
    user-select: none;
    margin-left: 45px;
    margin-right: 15px;
}

.Icon path {
    fill: #590d22;
}