.Logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .25em;
}

.Icon path {
    fill: #590d22;
}

.App {
    width: clamp(280px, 100%, 720px);
}