.FormContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Button {
    margin-top: 1em;
    width: fit-content;
}

.Disabled,
.Disabled:hover {
    display: none;
}